/*
	Spectral by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Banner */

	body.is-preload #banner h2 {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

		body.is-preload #banner h2:before, body.is-preload #banner h2:after {
			width: 100%;
		}

	body.is-preload #banner .more {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

	body.is-preload #banner:after {
		opacity: 0;
	}